.user-info {
  background-color: white;
  width: 700px;
  margin-top: 67px;
  border: 1px solid #ccc;
  padding: 20px;
  position: relative;
  height: 250px;
}

.top {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: red;
  top: 0;
  left: 0;
}

.username {
  margin-top: 100px;
}

.user-info {
  width: 20%;
}

.comment-form {
  padding: 20px;
}

.comment-form button {
  padding: 10px 50px;
  outline: none;
  border-radius: 100vh;
  background-color: #e54d02;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.no-posts {
  width: 100%;
  box-shadow: 0 0 20px rgb(0 0 0 / 0.1);
  text-align: center;
  color: #e54d02;
  font-weight: bold;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 20px;
}
